# üß† Functional Programming in Python ‚Äì A Step-by-Step Guide

---

## üéØ Why Functional Programming?

Before diving into code, let‚Äôs understand the **mindset**:  
> "Don't tell the computer how to do it ‚Äî tell it what you want."

Functional programming is about **describing transformations**, not managing steps. You focus on **expressing logic**, not building loops and containers.

---

## üõ†Ô∏è Reminder: How Functions Work in Python

Before we start with functional tools, let‚Äôs recall how to write a basic function:

In [1]:
def square(x):
    return x ** 2

print(square(4))  # Output: 16

16


This is a **named function**. Python also allows you to write anonymous functions called **lambda functions**:

In [2]:
square = lambda x: x ** 2
print(square(4))  # Output: 16

16


Lambda functions are useful when you need a short function *on the fly*, especially when working with functional tools like `map`, `filter`, and `reduce`.

---

## ‚ùå The Problem with Loops

Let‚Äôs say you want to sum a list of numbers:

In [3]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num

print(total)  # 15

15


This works, but it's **verbose**, **mutates state**, and is **not reusable**.

---

## ‚úÖ Better: `reduce()` + `lambda`

In [4]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)  # 15

15


This is **declarative** ‚Äî it describes *what* we want (a reduction), not *how* to accumulate values.

---

## üß∞ Even Better: Use `operator` Instead of `lambda`

In [5]:
from functools import reduce
import operator

numbers = [1, 2, 3, 4, 5]

# Using operator.add
total = reduce(operator.add, numbers, 0)
print(total)  # 15

# Maximum value
maximum = reduce(max, numbers, 0)
print(maximum)  # 5

# Product
product = reduce(operator.mul, numbers, 1)
print(product)  # 120

15
5
120

## üéØ What is List Comprehension?

List comprehension is a **compact way to create lists** in Python by describing **what** should go in the list, **not how** to build it.

### ‚úÖ Syntax:

```python
[expression for item in iterable]
```

It‚Äôs a one-liner for:
```python
result = []
for item in iterable:
    result.append(expression)
```

---

## üìå Basic Example

In [6]:
numbers = [1, 2, 3, 4]
doubled = [x * 2 for x in numbers]
print(doubled)  # [2, 4, 6, 8]

[2, 4, 6, 8]

---

## üîç Adding Conditions ‚Äì `if`

### ‚úÖ Syntax:


```python
[expression for item in iterable if condition]
```


### üß™ Example: Filter even numbers

In [7]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)  # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

---

## üß† With `if-else` inside the expression

You can also use a conditional expression inside the output itself.

### ‚úÖ Syntax:
```python
[expression_if_true if condition else expression_if_false for item in iterable]
```

### üß™ Example: Tag numbers as even/odd

In [8]:
labels = ["even" if x % 2 == 0 else "odd" for x in range(5)]
print(labels)  # ['even', 'odd', 'even', 'odd', 'even']

['even', 'odd', 'even', 'odd', 'even']

---

## üîÇ Nested Loops

List comprehensions can contain **multiple for loops**, just like nested loops.

### ‚úÖ Syntax:


```python
[expression for item1 in iterable1 for item2 in iterable2]
```

### üß™ Example: Cartesian Product

In [9]:
pairs = [(x, y) for x in [1, 2] for y in ['a', 'b']]
print(pairs)  # [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

> Think of it like:
```python
for x in [1, 2]:
    for y in ['a', 'b']:
        ...
```

---

## üß™ More Real Examples

### 1. Square all even numbersm

In [10]:
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

### 2. Extract first characters from list of strings

In [11]:
words = ["hello", "world"]
first_letters = [word[0] for word in words]


### 3. Flatten a 2D list

In [12]:
matrix = [[1, 2], [3, 4], [5, 6]]
flattened = [num for row in matrix for num in row]
print(flattened)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

---

## ‚ö†Ô∏è Good Practices



| Tip                          | Why it matters |
|------------------------------|----------------|
| Keep it short & readable     | Don‚Äôt cram logic-heavy loops |
| Avoid too many `if`/`else`   | Use regular `for` if too complex |
| Use parentheses for generator | To save memory |

---

## üíé Bonus: Set & Dict Comprehensions

### Set Comprehension:

In [13]:
squares = {x**2 for x in range(5)}


### Dictionary Comprehension:

In [14]:
squared_map = {x: x**2 for x in range(5)}

---

## üß† Summary

| Goal                          | List Comprehension                        |
|-------------------------------|-------------------------------------------|
| Transform a list              | `[x * 2 for x in lst]`                    |
| Filter items                  | `[x for x in lst if condition]`           |
| Conditional logic             | `[x if cond else y for x in lst]`         |
| Nested loops                  | `[f(x, y) for x in A for y in B]`         |
| Flatten lists                 | `[i for sublist in lst for i in sublist]` |

---

> ‚ú® **List comprehensions are Python's built-in DSL for data transformation** ‚Äî fast, expressive, and readable when used wisely.

# üß† Functional Tools in Python: `map`, `filter`, and `itertools`

---

## üéØ Why Use These Tools?

Python provides a set of **built-in functional tools** that help us write code in a **cleaner, more declarative, and Pythonic** way ‚Äî especially when dealing with **transformations, filtering, and iteration**.

Instead of writing explicit `for` loops, you can use:
- `map()` ‚Üí to transform data
- `filter()` ‚Üí to select data
- `zip()`, `enumerate()` ‚Üí to combine or track data
- `itertools` ‚Üí for powerful iteration patterns

Let‚Äôs look at how these tools compare to traditional `list comprehension`.

---

## üîß `map()`

> Applies a function to each item in an iterable.

### ‚úÖ Syntax:

```python
map(function, iterable)
```


### üîÅ Example 1: Doubling numbers

#### List Comprehension:

In [15]:
[x * 2 for x in range(5)]  # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

#### Using `map`:

In [16]:
list(map(lambda x: x * 2, range(5)))

[0, 2, 4, 6, 8]

---

### üîÅ Example 2: Convert all strings to uppercase

#### List Comprehension:

In [17]:
[word.upper() for word in ["a", "b", "c"]]

['A', 'B', 'C']

#### Using `map`:

In [18]:
list(map(str.upper, ["a", "b", "c"]))

['A', 'B', 'C']

---

## üîç `filter()`

> Filters elements from an iterable based on a condition.

### ‚úÖ Syntax:

```python
filter(function, iterable)
```


### üîÅ Example 1: Filter even numbers

#### List Comprehension:

In [19]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

#### Using `filter`:

In [20]:
list(filter(lambda x: x % 2 == 0, range(10)))

[0, 2, 4, 6, 8]

---

### üîÅ Example 2: Filter out empty strings

In [21]:
words = ["Python", "", "AI", "", "Data"]

#### List Comprehension:

In [22]:
[word for word in words if word]

['Python', 'AI', 'Data']

#### Using `filter`:

In [23]:
list(filter(None, words))

['Python', 'AI', 'Data']


---

## üîó `zip()` ‚Äì Combine Iterables

> Combines multiple iterables into tuples, element by element.

### üß™ Example:

In [24]:
names = ["Ali", "Sara", "Omid"]
scores = [95, 88, 77]

In [25]:
list(zip(names, scores))
# [('Ali', 95), ('Sara', 88), ('Omid', 77)]

[('Ali', 95), ('Sara', 88), ('Omid', 77)]

---

## üî¢ `enumerate()` ‚Äì Index + Item

> Adds a counter to an iterable.

In [26]:
for index, value in enumerate(["apple", "banana"]):
    print(index, value)

0 apple
1 banana


---

## üî• `itertools` ‚Äì Advanced Iteration Tools

The `itertools` module provides **lazy**, **memory-efficient**, and **composable** functions for working with iterables.

In [27]:
import itertools


---

### ‚úÖ Common itertools Functions

| Function               | Description                                      |
|------------------------|--------------------------------------------------|
| `count(start)`         | Infinite counter (lazy)                          |
| `cycle(iterable)`      | Repeat items forever                             |
| `repeat(item, times)`  | Repeat item N times                              |
| `chain(a, b, ...)`     | Flatten multiple iterables                       |
| `product(a, b)`        | Cartesian product of iterables                   |
| `permutations(iter)`   | All orderings                                    |
| `combinations(iter, r)`| All r-length combinations                        |
| `accumulate(iter)`     | Running total or custom accumulation             |
| `groupby(iter, key)`   | Group consecutive items by a key function        |

---

### üîÅ Example: `itertools.chain`

In [28]:
from itertools import chain

a = [1, 2]
b = [3, 4]
list(chain(a, b))  # [1, 2, 3, 4]

[1, 2, 3, 4]

Equivalent list comprehension:

In [29]:
[x for seq in [a, b] for x in seq]

[1, 2, 3, 4]

---

### üîÅ Example: `itertools.product`

In [30]:
from itertools import product

list(product([1, 2], ['a', 'b']))

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

Equivalent nested loops:

In [31]:
[(x, y) for x in [1, 2] for y in ['a', 'b']]

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

---

### üîÅ Example: `itertools.accumulate`

In [32]:
from itertools import accumulate

list(accumulate([1, 2, 3, 4]))  # [1, 3, 6, 10]

[1, 3, 6, 10]

---

## üß† Summary Table

| Task                      | List Comprehension                          | Functional Equivalent       |
|---------------------------|---------------------------------------------|-----------------------------|
| Transform values          | `[x * 2 for x in lst]`                      | `map(lambda x: x * 2, lst)` |
| Filter values             | `[x for x in lst if x > 0]`                 | `filter(lambda x: x > 0, lst)` |
| Flatten nested lists      | `[i for sub in lst for i in sub]`           | `chain.from_iterable(lst)`  |
| Cartesian product         | `[(x, y) for x in A for y in B]`            | `product(A, B)`             |
| Enumerate items           | `[(i, v) for i, v in enumerate(lst)]`       | `enumerate(lst)`            |

---

> üß† These tools are not just about writing shorter code ‚Äî they encourage **thinking in terms of transformations and composition**, which is at the heart of functional programming in Python.

---

üìå Next: Would you like to explore **generator expressions** and **lazy evaluation** for efficient iteration in large datasets?

# üìä Functional Programming with Pandas & NumPy

---

## üì¶ Introduction

`pandas` and `numpy` are the **go-to libraries** for data manipulation and numerical computing in Python. Both of them support a **vectorized and functional style** of coding that helps avoid explicit loops.

> Instead of saying ‚Äúloop over each row,‚Äù you can say ‚Äúapply this transformation to all rows‚Äù ‚Äî the **functional mindset**.

---

## üß† Why Functional?

- Faster (internally written in C)
- More readable
- Closer to SQL and math-style operations
- Avoids explicit `for` loops

---

## üßÆ NumPy ‚Äì Functional Thinking with Arrays

### üìå Element-wise Transformation

In [33]:
import numpy as np

arr = np.array([1, 2, 3, 4])

# Multiply all elements by 10
result = arr * 10

#### ‚ùå Instead of:

In [34]:
[x * 10 for x in arr]

[10, 20, 30, 40]

---

### üîç Filtering (Boolean Masking)

In [35]:
# Keep only even numbers
even = arr[arr % 2 == 0]

#### ‚úÖ This is like:

In [36]:
list(filter(lambda x: x % 2 == 0, arr))

[2, 4]

---

### üìä Aggregation (Functional Reduce)

In [37]:
np.sum(arr)       # Like reduce(add, arr)
np.prod(arr)      # Product of all elements
np.max(arr)       # Maximum value
np.mean(arr)      # Average

2.5


---

## üß∞ Pandas ‚Äì Functional DataFrame Processing

In [38]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Ali", "Sara", "Nima"],
    "score": [85, 92, 78]
})


---

### üîÑ `.map()` ‚Äì Like `map()` for a Series

In [39]:
df["score_plus_5"] = df["score"].map(lambda x: x + 5)
df

   name  score  score_plus_5
0   Ali     85            90
1  Sara     92            97
2  Nima     78            83


---

### üß™ `.apply()` ‚Äì Apply function to rows or columns

In [40]:
# Apply row-wise
df["status"] = df.apply(
    lambda row: "pass" if row["score"] >= 80 else "fail",
    axis=1
)
df

   name  score  score_plus_5 status
0   Ali     85            90   pass
1  Sara     92            97   pass
2  Nima     78            83   fail

---

### üîé `.query()` ‚Äì Functional Filtering

In [41]:
high_scores = df.query("score > 80")
high_scores

   name  score  score_plus_5 status
0   Ali     85            90   pass
1  Sara     92            97   pass


---

### üßº `.pipe()` ‚Äì Function Composition

In [42]:
def normalize(df):
    df["score_n"] = df["score"] / 100
    return df

df = df.pipe(normalize)
df

   name  score  score_plus_5 status  score_n
0   Ali     85            90   pass     0.85
1  Sara     92            97   pass     0.92
2  Nima     78            83   fail     0.78

`.pipe()` allows you to **chain transformations** functionally:


```python
df.pipe(func1).pipe(func2)
```

### üî¢ `.agg()` ‚Äì Functional Aggregation

In [43]:
df.agg({
    "score": ["mean", "max", "min"]
})

      score
mean   85.0
max    92.0
min    78.0


---

### üéõÔ∏è Functional Summary in Pandas

| Goal              | Pandas Tool     | Functional Equivalent |
|-------------------|-----------------|------------------------|
| Transform column  | `.map()`        | `map()`                |
| Row logic         | `.apply()`      | `map()` over dicts     |
| Filter rows       | `.query()`      | `filter()`             |
| Aggregation       | `.agg()`        | `reduce()`             |
| Chain ops         | `.pipe()`       | function composition   |

---

## üß† Key Takeaway

> Pandas and NumPy are inherently **functional-style libraries**.  
> Learn to express **‚Äúwhat‚Äù should happen to the data**, not **‚Äúhow‚Äù to loop over it.**

---

## üîö Bonus: Avoid Loops in Pandas

‚ùå Don‚Äôt do this:

In [48]:
for i in range(len(df)):
    df.loc[i, "new_col"] = df.loc[i, "score"] + 5
df

   name  score  score_plus_5 status  score_n  new_col
0   Ali     85            90   pass     0.85       90
1  Sara     92            97   pass     0.92       97
2  Nima     78            83   fail     0.78       83

‚úÖ Do this:

In [47]:
df["new_col"] = df["score"] + 5
df

   name  score  score_plus_5 status  score_n  new_col
0   Ali     85            90   pass     0.85       90
1  Sara     92            97   pass     0.92       97
2  Nima     78            83   fail     0.78       83

Or even better:

In [49]:
df = df.assign(new_col=lambda d: d["score"] + 5)
df

   name  score  score_plus_5 status  score_n  new_col
0   Ali     85            90   pass     0.85       90
1  Sara     92            97   pass     0.92       97
2  Nima     78            83   fail     0.78       83


---

> üß™ Pandas and NumPy are not just data tools ‚Äî they're Python‚Äôs bridge to functional, fast, and expressive data transformation.